* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:focus {
  outline: none;
}